[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExtendedLaplace"]
	path = ExtendedLaplace
	url = https://github.com/saahdavid/extendedlaplace
